[submodule "lib/signalk-libsignalkclient"]
	path = lib/signalk-libsignalkclient
	url = https://github.com/preeve9534/signalk-libsignalkclient.git
[submodule "lib/page-utils"]
	path = lib/page-utils
	url = https://github.com/preeve9534/page-utils.git
[submodule "lib/signalk-libschema"]
	path = lib/signalk-libschema
	url = http://github.com/preeve9534/signalk-libschema
[submodule "lib/signalk-liblog"]
	path = lib/signalk-liblog
	url = http://github.com/preeve9534/signalk-liblog
[submodule "lib/librrdclient"]
	path = lib/librrdclient
	url = http://github.com/preeve9534/librrdclient
[submodule "lib/libkellycolors"]
	path = lib/libkellycolors
	url = http://github.com/preeve9534/libkellycolors
[submodule "lib/signalk-libdelta"]
	path = lib/signalk-libdelta
	url = https://github.com/preeve9534/signalk-libdelta
