[submodule "lib/page-utils"]
	path = lib/page-utils
	url = https://github.com/preeve9534/page-utils.git
[submodule "lib/signalk-libschema"]
	path = lib/signalk-libschema
	url = http://github.com/preeve9534/signalk-libschema
[submodule "lib/signalk-liblog"]
	path = lib/signalk-liblog
	url = http://github.com/preeve9534/signalk-liblog
[submodule "lib/librrdclient"]
	path = lib/librrdclient
	url = http://github.com/preeve9534/librrdclient
[submodule "lib/libkellycolors"]
	path = lib/libkellycolors
	url = http://github.com/preeve9534/libkellycolors
[submodule "lib/signalk-libdelta"]
	path = lib/signalk-libdelta
	url = https://github.com/preeve9534/signalk-libdelta
[submodule "lib/signalk-libmeta"]
	path = lib/signalk-libmeta
	url = https://github.com/preeve9534/signalk-libmeta
[submodule "lib/signalk-libalarmclient"]
	path = lib/signalk-libalarmclient
	url = https://github.com/preeve9534/signalk-libalarmclient
[submodule "public/lib/page-utils"]
	path = public/lib/page-utils
	url = https://github.com/preeve9534/page-utils
[submodule "public/lib/signalk-libsignalkclient"]
	path = public/lib/signalk-libsignalkclient
	url = https://github.com/preeve9534/signalk-libsignalkclient
[submodule "public/lib/signalk-libalarmclient"]
	path = public/lib/signalk-libalarmclient
	url = https://github.com/preeve9534/signalk-libalarmclient
[submodule "public/lib/signalk-tanklevel-widget"]
	path = public/lib/signalk-tanklevel-widget
	url = https://github.com/preeve9534/signalk-tanklevel-widget
[submodule "public/lib/signalk-alarm-widget"]
	path = public/lib/signalk-alarm-widget
	url = https://github.com/preeve9534/signalk-alarm-widget
